In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets

#Import API key
from config import g_key

In [2]:
#Store the saved CSV created in part one into a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2021-06-08 14:05:51,-2.5744,150.7967,81.30,82,99,11.99
1,1,Klaksvik,FO,2021-06-08 14:05:51,62.2266,-6.5890,50.92,97,49,15.59
2,2,Ushuaia,AR,2021-06-08 14:05:51,-54.8000,-68.3000,44.22,81,75,3.44
3,3,Rikitea,PF,2021-06-08 14:05:51,-23.1203,-134.9692,76.48,84,98,19.84
4,4,Fallon,US,2021-06-08 14:05:52,39.4735,-118.7774,60.58,25,1,3.44

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2021-06-08 14:05:51,-2.5744,150.7967,81.30,82,99,11.99
3,3,Rikitea,PF,2021-06-08 14:05:51,-23.1203,-134.9692,76.48,84,98,19.84
7,7,Maryville,US,2021-06-08 14:04:23,35.7565,-83.9705,79.16,89,98,1.01
9,9,Hervey Bay,AU,2021-06-08 14:05:53,-25.2986,152.8535,70.03,88,100,5.99
10,10,Hasaki,JP,2021-06-08 14:05:53,35.7333,140.8333,70.20,78,64,9.42
16,16,Kruisfontein,ZA,2021-06-08 14:05:55,-34.0033,24.7314,76.89,34,11,11.05
18,18,Mazatlan,MX,2021-06-08 14:05:10,23.2167,-106.4167,84.02,86,1,1.01
20,20,Nabire,ID,2021-06-08 14:05:56,-3.3667,135.4833,76.66,90,100,2.82
24,24,Zatoka,UA,2021-06-08 14:05:57,46.0725,30.4654,73.94,72,78,10.18
28,28,Atuona,PF,2021-06-08 14:05:58,-9.8000,-139.0333,78.89,81,59,17.00

In [12]:
preferred_cities_df.count()

City_ID       274
City          274
Country       269
Date          274
Lat           274
Lng           274
Max Temp      274
Humidity      274
Cloudiness    274
Wind Speed    274
dtype: int64

In [13]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Kavieng      PG     81.30  -2.5744  150.7967
3        Rikitea      PF     76.48 -23.1203 -134.9692
7      Maryville      US     79.16  35.7565  -83.9705
9     Hervey Bay      AU     70.03 -25.2986  152.8535
10        Hasaki      JP     70.20  35.7333  140.8333
16  Kruisfontein      ZA     76.89 -34.0033   24.7314
18      Mazatlan      MX     84.02  23.2167 -106.4167
20        Nabire      ID     76.66  -3.3667  135.4833
24        Zatoka      UA     73.94  46.0725   30.4654
28        Atuona      PF     78.89  -9.8000 -139.0333

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kavieng,PG,81.30,-2.5744,150.7967,Nusa Island Retreat
3,Rikitea,PF,76.48,-23.1203,-134.9692,Pension Maro'i
7,Maryville,US,79.16,35.7565,-83.9705,Holiday Inn Express & Suites Alcoa (Knoxville ...
9,Hervey Bay,AU,70.03,-25.2986,152.8535,Shelly Bay Resort
10,Hasaki,JP,70.20,35.7333,140.8333,Hotel Sunrise Choshi
16,Kruisfontein,ZA,76.89,-34.0033,24.7314,Oyster Bay House Rental
18,Mazatlan,MX,84.02,23.2167,-106.4167,Hotel Club Playamar
20,Nabire,ID,76.66,-3.3667,135.4833,Hotel Nusantara Nabire
24,Zatoka,UA,73.94,46.0725,30.4654,"База отдыха ""Солнечная"""
28,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata

In [16]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

 ### Code Breakdown ###
 #Set hotel_info equal to the info_box_content
 #In the list comprehension, each "row" of hotel_df is iteratted and then formatted into the template
 #Only rows defined in the info_box_template are used, which are hotel name, city, country, max temp

In [18]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))