## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,69.89,54,0,1.99,clear sky
1,1,Upernavik,GL,72.7868,-56.1549,37.85,84,1,1.92,clear sky
2,2,Bogdana,RO,43.9333,25.0833,67.01,59,87,3.96,heavy intensity rain
3,3,Acari,PE,-15.4311,-74.6158,73.62,53,34,4.68,scattered clouds
4,4,Hirara,JP,24.8000,125.2833,80.15,81,100,16.20,overcast clouds

In [14]:

# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Acari,PE,-15.4311,-74.6158,73.62,53,34,4.68,scattered clouds
4,4,Hirara,JP,24.8000,125.2833,80.15,81,100,16.20,overcast clouds
6,6,Padang,ID,-0.9492,100.3543,77.05,87,85,2.64,overcast clouds
8,8,Konigswinter,DE,50.6833,7.1833,77.43,60,55,5.93,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,76.51,83,99,19.48,light rain
...,...,...,...,...,...,...,...,...,...,...
663,663,Ipixuna,BR,-1.7625,-48.8043,82.35,63,97,2.24,overcast clouds
664,664,Tabou,CI,4.4230,-7.3528,83.64,69,92,7.76,overcast clouds
668,668,Pilar,BR,-9.5972,-35.9567,78.73,75,60,9.66,broken clouds
671,671,Susehri,TR,40.1644,38.0867,70.56,46,47,5.50,scattered clouds
676,676,Punto Fijo,VE,11.6956,-70.1996,83.98,66,99,22.44,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Acari,PE,-15.4311,-74.6158,73.62,53,34,4.68,scattered clouds
4,4,Hirara,JP,24.8000,125.2833,80.15,81,100,16.20,overcast clouds
6,6,Padang,ID,-0.9492,100.3543,77.05,87,85,2.64,overcast clouds
8,8,Konigswinter,DE,50.6833,7.1833,77.43,60,55,5.93,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,76.51,83,99,19.48,light rain
...,...,...,...,...,...,...,...,...,...,...
663,663,Ipixuna,BR,-1.7625,-48.8043,82.35,63,97,2.24,overcast clouds
664,664,Tabou,CI,4.4230,-7.3528,83.64,69,92,7.76,overcast clouds
668,668,Pilar,BR,-9.5972,-35.9567,78.73,75,60,9.66,broken clouds
671,671,Susehri,TR,40.1644,38.0867,70.56,46,47,5.50,scattered clouds
676,676,Punto Fijo,VE,11.6956,-70.1996,83.98,66,99,22.44,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Acari,PE,73.62,scattered clouds,-15.4311,-74.6158,
4,Hirara,JP,80.15,overcast clouds,24.8000,125.2833,
6,Padang,ID,77.05,overcast clouds,-0.9492,100.3543,
8,Konigswinter,DE,77.43,broken clouds,50.6833,7.1833,
9,Rikitea,PF,76.51,light rain,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
663,Ipixuna,BR,82.35,overcast clouds,-1.7625,-48.8043,
664,Tabou,CI,83.64,overcast clouds,4.4230,-7.3528,
668,Pilar,BR,78.73,broken clouds,-9.5972,-35.9567,
671,Susehri,TR,70.56,scattered clouds,40.1644,38.0867,
676,Punto Fijo,VE,83.98,overcast clouds,11.6956,-70.1996,

In [19]:

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    #6d.Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #6f.Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Acari,PE,73.62,scattered clouds,-15.4311,-74.6158,A.h Pueblo Nuevo Acari
4,Hirara,JP,80.15,overcast clouds,24.8000,125.2833,Hirara
6,Padang,ID,77.05,overcast clouds,-0.9492,100.3543,Padang
8,Konigswinter,DE,77.43,broken clouds,50.6833,7.1833,Bonn
9,Rikitea,PF,76.51,light rain,-23.1203,-134.9692,Rikitea
...,...,...,...,...,...,...,...
663,Ipixuna,BR,82.35,overcast clouds,-1.7625,-48.8043,Colônia Velha
664,Tabou,CI,83.64,overcast clouds,4.4230,-7.3528,Tabou
668,Pilar,BR,78.73,broken clouds,-9.5972,-35.9567,Pilar
671,Susehri,TR,70.56,scattered clouds,40.1644,38.0867,Suşehri
676,Punto Fijo,VE,83.98,overcast clouds,11.6956,-70.1996,Punto Fijo

In [22]:
#8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

#8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))